@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

* {
  box-sizing: border-box;
}
